/* CSS Reset */ 
*{
    margin: 10;
    padding : 20;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;   
}

#navbar::before{
    content:"";
    background-color:rgb(224, 95, 181);
    position: absolute;
    height:15%;
    width:100%;
    z-index: -1;
    opacity:0.8
}

/* Navigation Bar: Logo and Image */
#logo
{
        margin:20px, 60px;
}
#logo img
{
    height: 100px;
    margin:5px, 5px;
}
/* Navigation Bar: List Styling*/

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size:1.3rem;
}
#navbar ul li a{
    list-style: none;
    font-size:1.3rem;
}
#navbar ul li a{
    color: rgb(26, 23, 23);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration:none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg') no-repeat center/cover;
    top:0;
    left:0;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: black;
    text-align: center;
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    
}
/* Service Section*/
#services {
    margin: 34px;
    display: flex;
}
#services .box{
         border: 2px solid brown;
         padding: 34px;
         margin: 3px 6px;
         border-radius: 50px;
         background: #f7e8e8;
}
#services .box img{
    height:160px;
    margin: auto;
    display: block;
}
#services{}
#services{}

/*client-sections*/
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../un1.jpg');
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 130px;
}
#contact{
    position: relative;
}
#contact::before
{
    content: "";
    position: absolute;
    background: url('../contact.jpg') no-repeat center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.9rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.1rem;
}
footer{
    background: black;
    color: white;
    padding: 5px 20px;
}
/*utility classes*/
.h-primary
{
    font-size: 2.4rem;
    padding: 12px;
}
.h-secondary
{
    font-size: 2rem;
    padding: 12px;
}
.btn
{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
       text-align: center;
}


















